h2 {
  color: #81c9d7
}
h1 {
  color: #81c9d7
}
div {
  color: gray
}

p {
  font-size: 20px;
}
div {
  font-size: 17px;
}

img {
  block-size: 330px;
}

p {
  font-family: sans-serif;
}
div {
  color: #9fa4a5;
}
